@bg-color:  #fff;
@header-height: 60px;
@main-color: #42b983;
@card-bg-color: #72cc81;
@font-color: #ccc;

@side-width: 250px;

@content-font-size: 16px;
@content-color: #575767;

@header-side-width: 200px;
@header-side-logo-width: @header-side-width / 4px;

@min-width-ms: 992px;

.clear-float {
  &::after {
    display: block;
    content: "";
    font-size: 0;
    clear: both;
  }
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1 1 auto; // IE11 flex: 1; 默认为 1 1 0px; 火狐 默认为 1 1 0%
}

.flex-column {
  flex-direction: column;
}

.cf {
  font-size: 0;
}

.cf:before, .cf:after {
  content: "";
  display: table; // 可以触发格式化上下文
}

.cf:after {
  clear: both;
}

// 大屏
@media screen and (min-width: @min-width-ms) {
  // .blog-side {
  //   margin-left: @header-side-width + 10px;
  // }
  .header-side {
    width: @header-side-width;
  }

  .content_right {
    flex: 1;
  }
}

// 小屏
@media screen and (max-width: @min-width-ms) {
  
}