@bg-color:  #fff;
@header-height: 60px;
@main-color: #42b983;
@card-bg-color: #72cc81;
@font-color: #ccc;

@content-font-size: 16px;
@content-color: #575767;

@side-width: 250px;

.clear-float {
  &::after {
    display: block;
    content: "";
    font-size: 0;
    clear: both;
  }
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1 1 auto; // IE11 flex: 1; 默认为 1 1 0px; 火狐 默认为 1 1 0%
}

.flex-column {
  flex-direction: column;
}

.cf:before, .cf:after {
  content: "";
  display: table; // 可以触发格式化上下文
}

.cf:after {
  clear: both;
}